@tailwind base;
@tailwind components;
@tailwind utilities;

.yarl__container,
.yarl__thumbnails_container {
  background-color: rgb(0, 0, 0, 0.8) !important;
  backdrop-filter: blur(3px);
}
.yarl__thumbnails_thumbnail {
  background-color: rgb(0, 0, 0, 0) !important;
}
.yarl__thumbnails_vignette {
  display: none;
}
